.carouselContainer {
    padding: 40px;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    color: var(--green); /* or any color you want */
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 8px;
  }
  
  .swiper-button-prev {
    left: 10px;
  }
  
  .swiper-button-next {
    right: 10px;
  }