/* src/components/Search/Search.module.css */
.searchContainer {
    display: flex;
    width: 100%;
    max-width: 500px;
    border: 2px solid var(--color-white);
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .searchInput {
    flex-grow: 1;
    padding: 12px 16px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-black);
    background-color: transparent;
  }
  
  .searchButton {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 0 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchButton svg path {
    stroke: var(--color-black);
  }